parameters:
	level: 1
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	excludes_analyse:
		- '*/tests/Drupal/Tests/Listeners/Legacy/*'
		- '*/tests/fixtures/*.php'
		- '*/settings*.php'
		- '*/node_modules/*'
	ignoreErrors:
		- '#Unsafe usage of new static\(\)#'
